/MNIST/VAE/clustering-during-VAE/gmm-resnet-results/
/MNIST/VAE/clustering-during-VAE/resnet-results/
/DCGAN/result/
/DCGAN/oxford-102/
/MNIST/data/
/MNIST/data_tips/
/MNIST/linear-relu-784-2/autoencoder/
/MNIST/linear-relu-784-2/data/
/MNIST/myVAE/results/
/MNIST/VAE/Clustering-after-VAE/results/
/MNIST/VAE/clustering-during-VAE/adiabatic-results/
/MNIST/VAE/clustering-during-VAE/alpha-agg-results/
/MNIST/VAE/clustering-during-VAE/alpha-bidir-results/
/MNIST/VAE/clustering-during-VAE/double-results/
/MNIST/VAE/clustering-during-VAE/data/
/MNIST/VAE/clustering-during-VAE/inturn-results/
/MNIST/VAE/clustering-during-VAE/pretraining-results/
/MNIST/VAE/clustering-during-VAE/results/
/MNIST/VAE/clustering-during-VAE/SGD-*/
/MNIST/VAE/clustering-during-VAE/xie-results/
/MNIST/VAE/data/
/MNIST/VAE/vae_2/
/MNIST/VAE/vae_20/
/MNIST/VAE-pytorch-examples/results/
/MNIST/VAE-sambaiz.net/mnist/
/simple-clustering/dirichlet-process/output/
/venv/
